<%= form_tag "/form_result_url", method: :post do %>
<!-- <form action="/form_result_url" method="post"> -->
  <div>
    Enter Message: <input type="text" name="form_message">
  </div>
  <input type="submit" value="Click it!">
<!-- </form> -->
<% end%>